body {
    margin: 0;
    background-color: #87ac92;
}

svg {
    position: absolute;
    width: 500px;
    height: 500px;
}

#artist {
    display: inline-flex;
    width: 90%;
    box-shadow: 0 0 5px grey;
    margin-top: 50px;
    padding: 10px;
    justify-content: center;
    min-height: 330px;
}

#description {
    width: 50%;
    margin-top: -20px;
}

#profile {
    width:40%;
    height: 300px;
    margin-right: 20px;
    background-image: url("../media/images/panini.jpg");
    background-size: cover;
    background-position: center;
}

#profile p {
    position: relative;
    margin-top: 305px;
    color: #6f6f6f;
}

#svgPainting, #canvasPainting {
    width: 20vw;
    height: 100vh;
    top:0;
    display: flex;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}

#canvasPainting {
    right:0;
}

#logo {
    height: 100%;
    transform: scale(1.5);
}

#main {
    width: 60vw;
    min-height: 100vh;
    box-shadow: 0 0 10px grey;
    position: relative;
    margin-left: 20vw;
    z-index: 2;
    background-color: white;
    text-align: center;
}

#navbar {
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(213, 213, 213, 0.51);
    color: #235342;
    box-shadow: 0 0 10px grey;
}

#svgPainting {
    left:0;
}

.navOption {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}

.navOption:hover {
    background-color: #999999;
    color: #ececec;
    cursor: pointer;
}


@media only screen and (max-width: 880px) {
    #artist {
        flex-wrap: wrap;
    }

    #profile, #description {
        width: 90%;
    }

    #profile {
        margin: 0 0 50px 0;
    }

    #navbar {
        font-size: 2vw;
    }
}