body {
    margin: 0;
    background-color: #87ac92;
    text-align: center;
    font-family: "Roboto";
    font-weight: 300;
}

svg {
    position: absolute;
    width: 500px;
    height: 500px;
}

#artist {
    display: inline-flex;
    width: 90%;
    box-shadow: 0 0 5px grey;
    margin: 20px 0 20px 0;
    padding: 10px;
    justify-content: center;
    min-height: 330px;
}

#description {
    width: 50%;
    margin-top: -20px;
    padding: 5px;
    box-shadow: 0 10px 5px grey;
}

#display {
    display: inline-grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 15px;
    width: 90%
}

#display div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5px grey;
    opacity: 0.8;
}

#docHeader, #documentation {
    width: 90%;
    display: inline-block;
    margin: 10px 0 10px 0;
}

#documentation {
    height:0;
    overflow: hidden;
    transition: 0.3s;
}

#docHeader:hover {
    cursor: pointer;
}

#img1 {
    background-image: url("../media/images/morayArt2.jpg");
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

#img2 {
    background-image: url("../media/images/morayArt4.jpg");
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

#img3 {
    background-image: url("../media/images/morayArt1.jpg");
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

#img4 {
    background-image: url("../media/images/morayArt3.jpg");
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}



#profile {
    width:40%;
    height: 300px;
    margin-right: 20px;
    background-image: url("../media/images/panini.jpg");
    background-size: cover;
    background-position: center;
}

#profile p {
    position: relative;
    margin-top: 305px;
    color: #6f6f6f;
}

#separator {
    width: 100%;
    height: 5px;
    background-color: #727b72;
    margin: 10px 0 10px 0;
}

#svgPainting, #canvasPainting {
    width: 20vw;
    height: 100vh;
    top:0;
    display: flex;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}

#canvasPainting {
    right:0;
    z-index: 0;
}

#logo {
    height: 100%;
    transform: scale(1.5);
}

#main {
    width: 60vw;
    min-height: 100vh;
    box-shadow: 0 0 10px grey;
    position: relative;
    display:inline-block;
    z-index: 2;
    background-color: white;
    text-align: center;
}

#music {
    width: 90%;
    display: inline-block;
}

#navbar {
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(213, 213, 213, 0.51);
    color: #235342;
    box-shadow: 0 0 10px grey;
}

#svgPainting {
    left:0;
}

.navOption {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}

.navOption:hover {
    background-color: #999999;
    color: #ececec;
    cursor: pointer;
}

.title {
    width: 20vw;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    justify-content: center;
    height:50px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    z-index: 3;
    font-weight: 100;
}

canvas + .title{
    right:0;
    z-index: 1;
}


@media only screen and (max-width: 880px) {
    #artist {
        flex-wrap: wrap;
    }

    #profile, #description {
        width: 90%;
    }

    #profile {
        margin: 0 0 50px 0;
    }

    #navbar {
        font-size: 2vw;
    }

    .title {
        font-size: 13px;
    }
}